*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: rgb(251, 197, 116);
    padding-top: 50px;
}
nav {
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo h2{
font-size: 45px;
}
.orang{
    color: orangered;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    
}
nav li a{
    text-decoration: none;
}
.btn{
 background-color: orange;
 border: none;
 padding: 18px 25px;
 border-radius: 5px; 
 font-size:20px;
 font-weight: bold;
 color: aliceblue;
 cursor: pointer;
}
#hero{
    margin: 45px 30px 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#hero .banar_c h2{
    font-size: 45px;
    font-weight: 600;
    color: rgb(26, 26, 26);
    margin-bottom: 10px;
}
#hero .banar_c h1{
    font-size: 65px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    margin-bottom: 15px;
}
#hero .banar_c p{
    font-size: 25px;
    color: rgb(26, 26, 26);
    margin-bottom: 25px;
    line-height: 30px;
    

}
#banar .imag_b{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 50px;
}
#about .section_h{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: blueviolet;
    padding: 110px 150px;
}